<!-- Displays a page for the user to specify details about the interactive
     optimization method. -->
{% extends "../base.html" %}
{% load static %}

<!-- Displays the title -->
{% block header %}
{{ title|default:"title" }}
{% endblock %}

<!-- Displays a form for the user to input options. These options are vary
     depending on which NAUTILUS method was chosen on the previous page. -->
{% block body %}
<div id="input-div">
     <form action="" method="POST">
       {% csrf_token %}
       {{ form }}
       <input type="submit" value="Set">
     </form>
</div>
{% endblock %}

{% block help %}
{{ description|default:"description" }}
{% endblock %}

