<!-- Show the intermediate and final results. Allow the DM to make appropiate
     choices between each iteration. -->
{% extends "../base.html" %}
{% load static %}

<!-- Display the header with the current iteration and total iterations -->
{% block header %}
{% if visualization %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'nautilus/scripts/visual.js' %}"></script>
{% endif %}
{{ title|default:"title" }}({{ current_iteration|default:"cur iter" }}/{{ total_iterations|default:"tot iter" }})
{% endblock %}

<!-- Display the results of the iteration -->
{% block body %}
<div id="show-div">
  {% if results %}
  <table>
    {% for key, value in results.items %}
    <tr>
      <th>{{ key }}</th>
    </tr>
    {% for entry in value %}
    <tr>
      <td>{{ forloop.counter0 }}</td>
      <td>{{ entry }}</td>
    </tr>
    {% endfor %}
    {% endfor %}
  </table>
  {% else %}
  {{ visualization |safe}}
  <script>
    var visualizationDivId= '{{ div_id }}';
  </script>
  <form id="iteration-response-form" action="" method="post">
    <!-- JS is used to fill out this form -->
    {% csrf_token %}
  </form>
  {% endif %}
</div>

<!-- Ask for preference -->
<div id="input-div">
{% if forms %}
<h2>Decisions</h2>
{% for key, value in forms.items %}
<h3>{{ key }}</h3>
<form action="" method="post">
  <div id="input-div">
    {% csrf_token %}
    {{ value }}
    {% endfor %}
    <input type="submit" value="Submit">
  </div>
</form>
{% endif %}
</div>
{% endblock %}



