{% if current_iteration and total_iterations %}
<h1>Iterating {{ current_iteration }}/{{ total_iterations }}</h1>
{% endif %}

<!-- Display the results -->
{% if results %}
<h2>Results</h2>
<table style="width:100%">
  {% for key, value in results.items %}
  <tr>
    <th>{{ key }}</th>
  </tr>
  {% for entry in value %}
  <tr>
    <td>{{ forloop.counter0 }}</td>
    <td>{{ entry }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
</table>
{% endif %}

<!-- Ask for preference -->
{% if forms %}
<h2>Decisions</h2>
{% for key, value in forms.items %}
<h3>{{ key }}</h3>
<form action="" method="post">
  {% csrf_token %}
  {{ value }}
  <input type="submit" value="Submit">
</form>
{% endfor %}
{% endif %}
