{% extends "./base.html" %}

{% block header %}
<h1>{{ title|default:"title" }}</h1>
{% endblock %}

{% block body %}
<div id="input-div">
{{ formset.management_form }}
{% for form in formset.forms %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div id="formset">
    {{ form }}
  </div>
  <input type="button" value="Add More" id="add-more">
  <input type="submit" value="Submit">
</form>
{% endfor %}

<div id="empty-form" style="display:none">
  {{ formset.empty_form }}
</div>
</div>
{% endblock %}



