{% extends "./base.html" %}
{% load static %}

{% block header %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{% static 'nautilus/scripts/scripts.js' %}"></script>
{{ title|default:"title" }}
{% endblock %}

{% block body %}
<div id="input-div">
{% for form in formset.forms %}
<form action="" method="post" enctype="multipart/form-data">
  {{ formset.management_form }}
  {% csrf_token %}
  <div id="formset">
    {{ form }}
  </div>
  <input type="button" value="Add More" id="add-more">
  <input type="submit" value="Submit">
</form>
{% endfor %}

<div id="empty-form" style="display:none">
  {{ formset.empty_form }}
</div>
</div>
{% endblock %}



