{% load static %}
<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'nautilus/style/style.css' %}">
  {% block style %}{% endblock %}
</head>
<html lang="en">
  <header>
    {% block header %}{% endblock %}
  </header>
  <body>
    {% block body %}{% endblock %}
  </body>
  <footer>
   <div id="footer-links">
     <a href="{% url 'index' %}">Back to index</a>
   </div>
  </footer>
  <script type="text/javascript" src="{% static 'nautilus/scripts/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'nautilus/scripts/scripts.js' %}"></script>
  {% block scripts %}{% endblock %}
</html>

