<div id="hidden-comment">
  <!-- This html page provides a template for the other pages to inherit
  from. -->
</div>
{% load static %}
<!DOCTYPE html>
<head>
  <!-- Load a basic css file and provide and extensible block. -->
  <link rel="stylesheet" type="text/css" href="{% static 'nautilus/style/style.css' %}">
  {% block style %}{% endblock %}
</head>
<html lang="en">
  <header>
    <!-- Header to be displayed -->
    {% block header %}{% endblock %}
  </header>
  <body>
    <!-- The actual content of the page -->
    {% block body %}{% endblock %}
  </body>
  <footer>
    <!-- The footer to be displayed. By default, has a back link. -->
   <div id="footer-links">
     <a href="{% url 'index' %}">Back to index</a>
     <a id="about-link" href="https://desdeo.it.jyu.fi/" target="_blank">About DESDEO</a>
   </div>
  </footer>
  <!-- Load scripts. jquery and scripts.js is loaded by default. Jquery is provided as a static file and must be manually updated. -->
  <script type="text/javascript" src="{% static 'nautilus/scripts/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'nautilus/scripts/scripts.js' %}"></script>
  {% block scripts %}{% endblock %}
</html>

