<div id="hidden-comment">
  <!-- This html page provides a template for the other pages to inherit
  from. -->
</div>
{% load static %}
<!DOCTYPE html>
<head>
  <!-- Load a basic css file and provide and extensible block. -->
  <link rel="stylesheet" type="text/css" href="{% static 'nautilus/style/style.css' %}">
  {% block style %}{% endblock %}
</head>
<html lang="en">
  <header>
    <!-- Header to be displayed -->
    <input type="button" value="Toggle help" id="help-button">
    {% block header %}{% endblock %}
  </header>
  <body>
    <!-- The actual content of the page -->
    {% block body %}{% endblock %}
    <div id="help">
      {% block help %}{% endblock %}
    </div>
  </body>
  <footer>
    <!-- The footer to be displayed. By default, has a back link. -->
   <div id="footer-links">
     <a href="{% url 'index' %}">Back to index</a>
     <a id="about-link" href="https://desdeo.it.jyu.fi/" target="_blank">About DESDEO</a>
   </div>
  </footer>
</html>

