<!-- Displays the index for the NAUTILIS family methods. The user may choose a
method, an optimization routine to solve the problem, and the problem
itself. -->
{% extends "./base.html" %}

<!-- Display the title of the page -->
{% block header %}
<h1>{{ help|default:"Index" }}</h1>
{% endblock %}

<!-- Display a form with options to choose from -->
{% block body %}
<div id="input-div">
  <form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Set">
  </form>
</div>
{% endblock %}

{% block help %}
{{ description|default:"description" }}
{% endblock %}
