<p>River pollution problem by Narula and Weistroffer
The problem has four objectives and two variables
The problem describes a (hypothetical) pollution problem of a river,
where a fishery and a city are polluting water. The decision variables
represent the proportional amounts of biochemical oxygen demanding
material removed from water in two treatment plants located after the
fishery and after the city.
The first and second objective functions describe the quality of water
after the fishery and after the city, respectively, while objective
functions three and four represent the percent return on investment at
the fishery and the addition to the tax rate in the city.
respectively.</p>


<form action="" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
