{% if message %}
<p>{{ message }}</p>
{% else %}
<p>I don't feel so good, Mr. Stark...</p>
{% endif %}

<table>
  {% for key, values in results.items %}
  {% if key != "points" and key != "lower_bounds" %}
    <tr>
        <td>{{key}}</td>
        <td>{{values}}</td>
    </tr>
  {% endif %}
    {% endfor %}
</table>

{% if results %}
<h2>Reachable points</h2>
<ol>
{% for point in results.points %}
<li>{{point}}</li>
{% endfor %}
</ol>

{% if form %}
<form action="" method="post">
  {% csrf_token %}
  {{ form }}
  <input type="submit" value="Submit">
</form>
{% endif %}



<h2>Lower bounds</h2>
<ol>
{% for bound in results.lower_bounds %}
<li>{{bound}}</li>
{% endfor %}
</ol>
{% endif %}

{% if not results %}
<form action="/nautilus/0/interactive/">
  <input type="submit" value="Submit"/>
</form>
{% endif %}
